$robotoRegular: var(--font-roboto);
$robotoCondensed: var(--font-robotoCondensed);
$textDark: #303030;
$white: #FFFFFF;
$green: #22BF86;

.main {
  min-height: 100vh;
  background-color: white;
}

.showcase {
  max-width: 1340px;
  margin: 0 auto;
  padding: 1rem;
}

.filterPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 275px;
  width: calc(100% - 1rem);
  height: 56px;
  background: #35373A 0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0px 0px;

  &:hover {
    cursor: pointer;
  }

  & p {
    font: {
      family: $robotoRegular;
      size: 16px;
    }

    line-height: 24px;
    width: 70%;
    letter-spacing: 0.16px;
    text-align: left;
    color: white;
  }

  & span {
    display: block;
    background: url("../images/arrow_down.svg") no-repeat center / cover;
    height: 5px;
    width: 8px;
  }

  & div {
    width: 100%;
    padding: 20px 16px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & form {
    max-width: 275px;
    width: 100%;
    z-index: 10;
  }

  & ul {
    background: #35373A 0% 0% no-repeat padding-box;
    list-style: none;
    width: 100%;
    padding: 10px 0;
    opacity: 1;
  }

  & li {
    position: relative;
    padding: 5px 16px;
    display: block;


    font: {
      family: $robotoRegular;
      size: 14px;
    }

    color: #BABABA;
  }

  & input[type='checkbox'] {
    background: #525559 0% 0% no-repeat padding-box;
    margin-right: 12px;
    padding: 0.5em;
    appearance: none;
  }

  & input:hover {
    cursor: pointer;
  }

  & input:checked {
    background: url("../images/check.svg") #525559 no-repeat center / cover;
  }

  & input[type='submit'] {
    position: absolute;
    margin-left: 10px;
    border: none;
    top: -4px;
    background: $green 0% 0% no-repeat padding-box;
    width: 202px;
    height: 34px;
    border-radius: 2px;
    color: white;
  }
}

.active {
  transform: rotate(90deg);
  transition: .3s;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px 31px;
  padding: 1rem 0;
  width: 100%;
  list-style-type: none;
}

.card {
  width: 404px;
  color: $textDark;
  padding: 26px;
  box-shadow: 0px 6px 32px #ECEEF2;
  text-align: left;
  border-radius: 8px;

  font: {
    family: $robotoCondensed;
    size: 14px;
    weight: normal;
  }
}

.cardNameContainer {
  display: flex;
  padding: 18px 0 0;
  line-height: 28px;
  letter-spacing: 0px;

  & h2 {
    font: {
      size: 16px;
      weight: normal;
    }

    padding: 9px 0 0;
  }

  & span {
    font-size: 12px;
    color: $green;
    margin: 0;
    padding: 4px 0 0 4px;
  }
}

.vinNumber {
  font: {
    family: $robotoRegular;
    size: 10px;
    weight: normal;
  }

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  padding: 4px 0 20px;
  line-height: 13px;
  letter-spacing: 1px;
  color: #707B8C;
}

.card img {
  width: 264px;
  height: 198px;
  border-radius: 4px;
  object-fit: cover;
}

.options {
  font-family: $robotoRegular;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 35px 0 0;
  list-style-type: none;

  & h5 {
    letter-spacing: 1px;
    font-size: 10px;
    color: #ACB8BF;
    text-transform: uppercase;
    padding-bottom: 8px
  }

  & p {
    font-size: 14px;
    color: $textDark;
  }

  & span {
    color: $green;
  }

  & li {
    padding-bottom: 19px;
    min-width: 50%;
  }

  .optionsSpan {
    color: #ACB8BF;
  }
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  font-family: $robotoRegular;
  font-size: 28px;
  line-height: 28px;
  color: $green;
  padding: 23px 0 0;

  & span {
    color: $textDark;
  }

  & div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
  }

  & p {
    padding: 5px;
    display: block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
  }

  .advancePrice {
    font-family: $robotoRegular;
    font-size: 14px;
    line-height: 32px;
    color: $textDark;
  }

  & button {
    max-width: 145px;
    width: 100%;
    height: 48px;
    background: transparent linear-gradient(252deg, #38EF7D 0%, #11998E 100%) 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }

  & button:hover {
    cursor: pointer;
    opacity: .7;
    transition: all .3s;
  }

  & button:disabled {
    cursor: auto;
    background: #E7EBF0 0% 0% no-repeat padding-box;
    color: #707B8C;
  }
}


@media (hover: hover) and (pointer: fine) {
  .card:hover {
    box-shadow: 0px 6px 32px #aaadb3;
    transform: scale(1.02);
    transition: transform .15s linear, box-shadow .15s linear;
    outline: 1px solid rgba(var(--card-border-rgb), .3);
  }
}

@media (max-width: 700px) {
  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }


}

@media (min-width: 100px) and (max-width: 768px) {
  .card {
    max-width: 302px;
    width: 100%;
  }
}